$primaire: #E3484E;
$white: #fff;
$black: #000;

@mixin f14 {
    font-size: 14px;
    line-height: 23px;
}

@mixin f16 {
    font-size: 16px;
    line-height: 28px;
}

@mixin f18 {
    font-size: 18px;
    line-height: 30px;
}

@mixin f20 {
    font-size: 20px;
    line-height: 33px;
}

@mixin f24 {
    font-size: 24px;
    line-height: 40px;
}

@mixin f26 {
    font-size: 26px;
    line-height: 31px;
}

@mixin button1 {
    @include f18;
	padding: 10px 20px;
	border-radius: 20px;
	background-color: $primaire;
	border: 1px solid $primaire;
	font-family: var(--font-poppins);
	font-weight: bold;
	color: $white;
}

@mixin flex($direction, $gap) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

@mixin divider {
    position: relative;
    margin-bottom: 20px;

    &:after {
		content: "";
		position: absolute;
		border: 1px solid $primaire;
		left: 0;
		right: 0;
		bottom: -20px;
	}
}

@mixin tags {
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid $primaire;
    border-radius: 10px;
    background-color: $white;
}

@mixin active {
    border: 3px solid $primaire;
    font-weight: bold;
}