@use "../../styles/variables" as *;

.main {
    padding: 70px 20px 20px 20px;

    form {
        fieldset {
            border: none;

            legend {
                margin-bottom: 60px;
            }
        }

        .date {
            @include flex(column, 50px);

            label {
                @include flex(column, 10px);
                @include f24;
                font-weight: bold;

                input {
                    padding: 16px;
                    border-radius: 20px;
                    border: 2px solid $primaire;
                    font-family: var(--font-poppins);
                    text-align: center;
                }
            }
        }

        // If checkbox is checked, remove styling from input type text: My own idea
        &:has(.activity label input:checked) {
            .myOwn input[type='text'] {
                border: 1px solid $primaire;
                font-weight: normal;
            }
        }

        .activity {
            @include flex(flex, 10px);
            flex-wrap: wrap;

            label {
                @include tags;

                &:has(input:checked) {
                    @include active;
                }

                input {
                    opacity: 0;
                    position: absolute;
                }
            }
        }

        .excitement {
            legend {
                margin-bottom: 10px;

                &::after {
                    display: none;
                }
            }
        }


        .button1 {
            margin-top: 40px;
        }

        .myOwn {
            @include flex(column, 20px);

            legend {
                @include f24;
                margin: 0px 0px 10px 0px;
                font-weight: bold;
                font-family: var(--font-poppins);
                color: $black;
                text-align: left;

                &::after {
                    display: none
                }
            }

            > button {
                @include tags;
                @include f16;
                width: 100%;
                font-family: var(--font-poppins);
            }

            > button.active {
                @include active;
            }

            label {
                @include flex(column, 10px);
            }

            input[type='text'] {
                @include tags;
                @include f16;
                width: 100%;
                font-family: var(--font-poppins);
                text-align: center;
            }

            input[type='text'].active {
                @include active;
            }
        }
    }
}