@use "../styles/variables" as *;

.yay {
    h3 {
        @include f26;
        margin-top: 30px
    }
}

.titleContent {
    @include divider;
    margin-top: -10px;
    text-align: center;

    p {
        &:first-of-type {
            @include f20;
        }

        &:last-of-type {
            @include f14;
        }
    }
}