@use "../../styles/variables" as *;

.confirm {
    h1:after {
        display: none;
    }

    ul {
        @include flex(column, 20px);
        
        li {
            display: grid;
            grid-template-columns: 35px 1fr;
            gap: 0px 15px;
            list-style: none;

            img {
                grid-column: 1/2;
                grid-row: 1/3;
                width: 35px;
                height: 35px;
            }

            p:last-of-type {
                font-weight: bold;
            }

        }

    }
    

}